body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #75AADB;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  

.nav {
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #FFD100;
}

.main {
    padding: 20px;
}

.main-content {
    text-align: center;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 80%;
    max-width: 800px; 
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); 
}

.carousel-control-prev {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}

.row {
    margin-top: 20px;
}

.col-md-6 {
    width: 48%;
    margin-right: 2%;
}

.mamotest_logo {
    width: 200px;
    height: 200px;
}

.footer {
    background-color: #75AADB;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.cta-link {
    background-color: #FFD100;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-link:hover {
    background-color: #FFD100;
    color: #fff;
}

.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode .header, .dark-mode .footer {
    background-color: #333;
}

.dark-mode .nav a {
    color: #fff;
}

.dark-mode .carousel-control-prev,
.dark-mode .carousel-control-next {
    background-color: rgba(255, 255, 255, 0.5); 
}

.dark-mode .cta-link {
    background-color: #FFD100;
    color: #121212;
}

.dark-mode .cta-link:hover {
    background-color: #FFD100;
    color: #121212;
}
